{% extends 'base.html' %}

{% block title %}
<h2 align="center">My infomation</h2>
{% endblock %}
{% block content %}
<form method="POST">
  <div class="form-outline mb-4">
    <label class="form-label">Let me tell you a few words about myself. My name is Ivan. I am 28 years old. I come from Belarusia, I live in Minsk. I come from a large family.
    I finished school in 2011. My major is ingener.I graduated from University in 2016. I work as a imgener. People who know me well, say that I am a reliable person</label>
  </div>

{% endblock %}